<div class="col-lg-4 col-md-3">
    <div class="modal fade" id="modalScrollable" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalScrollableTitle">Gizlilik Sözleşmesi</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h4><strong>FAKULTEN GİZLİLİK S&Ouml;ZLEŞMESİ</strong></h4>

            <p><strong>Son G&uuml;ncelleme:</strong>&nbsp;[Tarih]<br />
            <strong>İşletmeci/Veri Sorumlusu:</strong>&nbsp;[Şirket Adınız/Adınız Soyadınız] | İletişim: [E-posta/Telefon/Adres]</p>
            
            <p>Bu Gizlilik S&ouml;zleşmesi,&nbsp;<strong>Fakulten</strong>&nbsp;platformunu (&quot;Site&quot;) kullanan &uuml;yelerin kişisel verilerinin toplanması, işlenmesi ve korunmasına ilişkin koşulları a&ccedil;ıklar. Siteye kayıt olarak veya hizmetlerimizi kullanarak bu s&ouml;zleşmeyi kabul etmiş sayılırsınız.</p>
            
            <hr />
            <h5><strong>1. TOPLANAN KİŞİSEL VERİLER</strong></h5>
            
            <p>Aşağıdaki verileri işliyoruz:</p>
            
            <ul>
                <li>
                <p><strong>&Uuml;yelik Bilgileri:</strong>&nbsp;Ad-soyad, e-posta, telefon, &uuml;niversite adı, b&ouml;l&uuml;m, &ouml;ğrenci belgesi.</p>
                </li>
                <li>
                <p><strong>Profil Bilgileri:</strong>&nbsp;Kullanıcı adı, profil fotoğrafı, biyografi, ilgi alanları.</p>
                </li>
                <li>
                <p><strong>Paylaşımlar:</strong>&nbsp;G&ouml;nderiler, fotoğraflar, ders notları, satış ilanları (&uuml;r&uuml;n a&ccedil;ıklamaları, fiyat, konum).</p>
                </li>
                <li>
                <p><strong>Etkileşim Verileri:</strong>&nbsp;Arkadaş listesi, mesajlaşma i&ccedil;erikleri, beğeniler, yorumlar.</p>
                </li>
                <li>
                <p><strong>Teknik Veriler:</strong>&nbsp;IP adresi, cihaz bilgisi, tarayıcı t&uuml;r&uuml;, &ccedil;erezler (Cookie), kullanım s&uuml;resi.</p>
                </li>
                <li>
                <p><strong>&Ouml;deme Verileri:</strong>&nbsp;Satış yapıyorsanız, banka hesap bilgileri veya &ouml;deme aracı bilgileri (&uuml;&ccedil;&uuml;nc&uuml; taraf &ouml;deme sistemleri &uuml;zerinden).</p>
                </li>
            </ul>
            
            <hr />
            <h5><strong>2. VERİLERİN İŞLENME AMA&Ccedil;LARI</strong></h5>
            
            <p>Kişisel verileriniz aşağıdaki ama&ccedil;larla işlenir:</p>
            
            <ul>
                <li>
                <p>Hesap oluşturma ve &uuml;yelik y&ouml;netimi,</p>
                </li>
                <li>
                <p>Sosyal etkileşim (paylaşım, mesajlaşma, arkadaş ekleme),</p>
                </li>
                <li>
                <p>Eşya satışı/ilan y&ouml;netimi ve &ouml;deme s&uuml;re&ccedil;leri,</p>
                </li>
                <li>
                <p>Ders notlarının paylaşılması ve indirilmesi,</p>
                </li>
                <li>
                <p>Hizmetlerin iyileştirilmesi ve kişiselleştirme,</p>
                </li>
                <li>
                <p>Yasal y&uuml;k&uuml;ml&uuml;l&uuml;klerin yerine getirilmesi,</p>
                </li>
                <li>
                <p>&Uuml;yelere e-posta/SMS ile promosyon ve duyuru g&ouml;nderimi (izin şartıyla).</p>
                </li>
            </ul>
            
            <hr />
            <h5><strong>3. VERİ İŞLEMENİN HUKUKİ SEBEBİ</strong></h5>
            
            <ul>
                <li>
                <p><strong>A&ccedil;ık Rızanız:</strong>&nbsp;Mesajlaşma, profil bilgisi paylaşımı ve pazarlama faaliyetleri i&ccedil;in.</p>
                </li>
                <li>
                <p><strong>S&ouml;zleşmesel Y&uuml;k&uuml;ml&uuml;l&uuml;k:</strong>&nbsp;&Uuml;yelik hizmetlerinin sağlanması i&ccedil;in.</p>
                </li>
                <li>
                <p><strong>Yasal Zorunluluk:</strong>&nbsp;Vergi, sahtekarlık &ouml;nleme veya mahkeme kararlarına uyum.</p>
                </li>
                <li>
                <p><strong>Meşru Menfaat:</strong>&nbsp;G&uuml;venlik ihlallerinin &ouml;nlenmesi veya hizmet kalitesinin artırılması.</p>
                </li>
            </ul>
            
            <hr />
            <h5><strong>4. VERİLERİN PAYLAŞIMI VE TRANSFERİ</strong></h5>
            
            <ul>
                <li>
                <p><strong>&Uuml;&ccedil;&uuml;nc&uuml; Taraflar:</strong>&nbsp;&Ouml;deme işlemcileri, sunucu sağlayıcılar, analiz ara&ccedil;ları gibi hizmet ortaklarıyla sınırlı olarak.</p>
                </li>
                <li>
                <p><strong>Yasal Zorunluluk:</strong>&nbsp;Resmi makamlar talepte bulunursa (&ouml;rneğin, su&ccedil; soruşturması).</p>
                </li>
                <li>
                <p><strong>Uluslararası Transfer:</strong>&nbsp;Verileriniz KVKK&rsquo;ya uygun &uuml;lkelerde saklanabilir.</p>
                </li>
            </ul>
            
            <hr />
            <h5><strong>5. VERİ G&Uuml;VENLİĞİ VE SAKLAMA S&Uuml;RESİ</strong></h5>
            
            <ul>
                <li>
                <p>Verileriniz,&nbsp;<strong>SSL şifreleme</strong>, sınırlı erişim ve d&uuml;zenli g&uuml;venlik denetimleriyle korunur.</p>
                </li>
                <li>
                <p>&Uuml;yeliğiniz aktif olduğu s&uuml;rece saklanır. Hesabınızı sildiğinizde veya 2 yıl boyunca pasif kalındığında veriler silinir/anonimleştirilir (yasal saklama s&uuml;releri hari&ccedil;).</p>
                </li>
            </ul>
            
            <hr />
            <h5><strong>6. HAKLARINIZ</strong></h5>
            
            <p>KVKK Madde 11 uyarınca:</p>
            
            <ul>
                <li>
                <p>Verilerinize erişim,</p>
                </li>
                <li>
                <p>D&uuml;zeltme veya silme talep etme,</p>
                </li>
                <li>
                <p>İşleme faaliyetine itiraz etme,</p>
                </li>
                <li>
                <p>Rızanızı geri &ccedil;ekme (e-posta ile [İletişim Adresi] &uuml;zerinden).</p>
                </li>
            </ul>
            
            <hr />
            <h5><strong>7. &Ccedil;EREZ POLİTİKASI</strong></h5>
            
            <ul>
                <li>
                <p><strong>Zorunlu &Ccedil;erezler:</strong>&nbsp;Site fonksiyonelliği i&ccedil;in gereklidir (&ouml;rneğin, giriş oturumu).</p>
                </li>
                <li>
                <p><strong>Analitik/Performans &Ccedil;erezleri:</strong>&nbsp;Kullanım istatistikleri i&ccedil;in (Google Analytics gibi).</p>
                </li>
                <li>
                <p><strong>Reklam &Ccedil;erezleri:</strong>&nbsp;İzin vermeniz halinde hedefli reklamlar i&ccedil;in kullanılır.</p>
                </li>
                <li>
                <p>&Ccedil;erez tercihlerinizi tarayıcı ayarlarından d&uuml;zenleyebilirsiniz.</p>
                </li>
            </ul>
            
            <hr />
            <h5><strong>8. DEĞİŞİKLİKLER VE İLETİŞİM</strong></h5>
            
            <ul>
                <li>
                <p>Bu politika g&uuml;ncellendiğinde sitede duyurulur. Y&uuml;r&uuml;rl&uuml;k tarihi en &uuml;stte belirtilir.</p>
                </li>
                <li>
                <p>Sorularınız i&ccedil;in: [E-posta/İletişim Formu].</p>
                </li>
            </ul>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kabul Ediyorum</button>
          </div>
        </div>
      </div>
    </div>
  </div>