{% load static %}
<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu">
    <div class="app-brand demo">
        <a href="{% url 'guest:home' %}" class="app-brand-link">
        <span class="app-brand-logo demo">
            <img src="{% static 'assets/img/logo/logo.png' %}" width="32" height="32" />
        </span>
        <span class="app-brand-text demo menu-text fw-bold ms-3">Kampüslü</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
        <i class="icon-base ti menu-toggle-icon d-none d-xl-block"></i>
        <i class="icon-base ti tabler-x d-block d-xl-none"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Page -->
        <li class="menu-item {% if active_tab == 'post' %}active{% endif %}">
        <a href="{% url 'post:post_list' %}" class="menu-link">
            <i class="menu-icon icon-base ti tabler-home"></i>
            <div data-i18n="Page 1">Ana Sayfa</div>
        </a>
        </li>
        <li class="menu-item {% if active_tab == 'trending' %}active{% endif %}">
        <a href="{% url 'post:trending' %}" class="menu-link">
            <i class="menu-icon icon-base ti tabler-trending-up"></i>
            <div data-i18n="Page 2">Trendler</div>
        </a>
        </li>
        <li class="menu-item {% if active_tab == 'members' %}active{% endif %}">
            <a href="{% url 'members:members_list' %}" class="menu-link">
                <i class="menu-icon icon-base ti tabler-user-search"></i>
                <div data-i18n="Page 2">Kişi Bul</div>
            </a>
            </li>
    </ul>
</aside>

<div class="menu-mobile-toggler d-xl-none rounded-1">
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large text-bg-secondary p-2 rounded-1">
        <i class="ti tabler-menu icon-base"></i>
        <i class="ti tabler-chevron-right icon-base"></i>
    </a>
</div>
<!-- / Menu -->